:root {
    --background: #FFF;
    --primary: #333333;
    --foreground: #e7f4c9;
    --secondary: #909090;
    --secondary-light: #c8c8c8;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: var(--primary);
}

header {
    text-align: center;
    margin: 4rem 2rem;
}

header img {
    width: auto;
    height: 20rem;
}

main {
    margin: 3rem;
}

main section {
    display: flex;
    font-weight: bold;
    background-color: #565658;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 80rem;
    border-radius: 60px;
    cursor: pointer;
}

main section:hover {
    background-color: transparent;
    border: 3px solid rgba(225, 225, 225, .2);
    color: #00ffa8;
    transition: 0.8s;

}

main section span {
    display: block;
    margin-right: 1rem;
    color: var(--secondary-light);
    font-size: 5rem;
}

main section input {
    flex: 1;
    min-width: 0;
    background: transparent;
    color: var(--secondary);
    font-size: 5rem;
    font-weight: bold;
    border: 0;
    outline: none;
    text-align: right;
}

footer {
    text-align: center;
    font-size: 1.4rem;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}